.personagem {
  background-color: #202329;
  width: 33.3%;
}

@media (max-width: 768px) {
  .personagem {
    width: 100%;
  }
}

.personagens-waper {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.container-personagens {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #202329;
}
.personagem img {
  max-width: 93%;
  display: flex;
  margin-top: 20%;
  justify-content: space-evenly;
}

.title {
  font-style: normal;
  font-weight: 800;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #202329;
  color: aliceblue;
  font-size: 20px;
  margin-top: 7%;
}

.characteres--container {
  display: flex;
  flex-direction: column;

  max-width: 84%;
  color: whitesmoke;
  background-color: #3c3e44;
  position: relative;
  padding: 4.5%;
}
.name {
  font-weight: 800;
  font-size: 17px;
  line-height: 14px;
  margin-left: 5%;
}

.species {
  font-weight: 800;
  font-size: 14px;
  line-height: 10px;
  margin-left: 5%;
}
