body {
  background-color: #202329;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  color: #ffffff;

  font-family: "Roboto", sem serifa;
  font-size: 50px;
}

.botao {
  display: flex;
  align-self: center;
  margin-top: 150%;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  font-family: "Roboto", sem serifa;
}
