  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14%;
    color: #ffffff;
    text-align: center;
    
    font-weight: 800;
    font-style: normal;
    font-size: 20px;

  }

.botao {
  font-weight: bold;
  font-family: "Roboto";
  display: flex;
  align-self: center;
  margin-top: 135%;
  padding: 15px 24px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000ec;
  border-radius: 20px;
  color: #202329;
}

.container a {
  text-decoration: none;
}
