.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  color: #ffffff;

  font-weight: 800;
  font-style: normal;
  font-size: 40px;
}

.botao {
  font-weight: bold;
  font-family: "Roboto";
  display: flex;
  align-self: center;
  margin-top: 140%;
  padding: 15px 24px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000ec;
  border-radius: 20px;
  color: #202329;
}

.container a {
  text-decoration: none;
}
